name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install tools
        run: npm install
        
      - name: Build the website
        run: npm run build
        env:
          # This safely injects your hidden keys while the site is building!
          VITE_GROQ_API_KEY: ${{ secrets.VITE_GROQ_API_KEY }}
          VITE_POLLINATIONS_API_KEY: ${{ secrets.VITE_POLLINATIONS_API_KEY }}
          
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v4
        
      - name: Upload the website files
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
          
      - name: Publish to the internet
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Install dependencies
        run: npm install --legacy-peer-deps
